<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Pine Woods</string>
		<key>description</key>
		<string>The pinewood has a number of paths to investigate and is also home to many fine examples of rhododendrons.</string>
		<key>latitude</key>
		<real>53.27417</real>
		<key>longitude</key>
		<real>-3.04405</real>
		<key>imageLink</key>
		<string>pinewood5IMG_20190125_095106.jpg</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Old House Area</string>
		<key>description</key>
		<string>Mickwell Brow was built in 1898 as the first phase of Arthur Bulley&apos;s vision for what is now Ness botanic Gardens.
The images show both old and new views of the house.</string>
		<key>latitude</key>
		<real>53.272057</real>
		<key>longitude</key>
		<real>-3.043731</real>
		<key>imageLink</key>
		<string>mickwellhouse1.DSC_7836 - Mickwell House - R Cartwright.JPG</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Water Garden</string>
		<key>description</key>
		<string>This area was originally created for use as a research project in the 1960&apos;s before being planted with a stunning range of trees which all have fabulous autumn colour and beautiful winter barks.</string>
		<key>latitude</key>
		<real>53.270263</real>
		<key>longitude</key>
		<real>-3.043095</real>
		<key>imageLink</key>
		<string>watergarden1.DSC_2930.JPG</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Rock Garden</string>
		<key>description</key>
		<string>One of the original features of Ness, the Rock Garden was orginally created by A.K Bulley on the site of an old clay marl pit, to house his ever increasing collection of alpines. </string>
		<key>latitude</key>
		<real>53.271159</real>
		<key>longitude</key>
		<real>-3.042296</real>
		<key>imageLink</key>
		<string>rockgarden7.DSC_4186 - Rock Garden - R Cartwright (3).JPG</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Azalea Walk</string>
		<key>description</key>
		<string>So called for its colour displays of Azaleas in the Spring, the area also has stunning snowdrop displays in February. Fabulous birches and rowans, part of the botanical collections surround the children&apos;s play area.</string>
		<key>latitude</key>
		<real>53.272233</real>
		<key>longitude</key>
		<real>-3.046131</real>
		<key>imageLink</key>
		<string>Azalea Walk.jpg</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Terraces</string>
		<key>description</key>
		<string>The sun baked terraces allows us to grow slightly tender plants outdoors all year round and provides fantastic views of the surrounding Gardens.</string>
		<key>latitude</key>
		<real>53.27154</real>
		<key>longitude</key>
		<real>-3.042687</real>
		<key>imageLink</key>
		<string>terraces1.DSC_4176 - Rock Garden - R Cartwright (3).JPG</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Potager Area</string>
		<key>description</key>
		<string>The Potager is a scenic vegetable/food growing area.  Food grown here is used for the Tea Rooms, sold at harvest time to the public (by way of a donations box) and the pumpkins are used for carving/cooking for Halloween.</string>
		<key>latitude</key>
		<real>53.273368</real>
		<key>longitude</key>
		<real>-3.044382</real>
		<key>imageLink</key>
		<string>Potager Garden.jpeg</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Herbaceous Area</string>
		<key>description</key>
		<string>Another original area of Ness although the layout has changed over the years. It now houses 120 metres of herbaceous borders which look beautiful from May to February.</string>
		<key>latitude</key>
		<real>53.272797</real>
		<key>longitude</key>
		<real>-3.044747</real>
		<key>imageLink</key>
		<string>herbaceousarea1.DSC_8098 - Herbaceous Border - R Cartwright.JPG</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Ness Botanische</string>
		<key>description</key>
		<string>Designed in 2009 by Chris Beardshaw and exhibited at RHS Tatton Show where it won Gold and Best in Show.  It celebrates the botanical research at Ness and the pleasure afforded to our visitors.</string>
		<key>latitude</key>
		<real>53.273015</real>
		<key>longitude</key>
		<real>-3.043567</real>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Ness Henge</string>
		<key>description</key>
		<string>The Botanical Garden&apos;s equivalent of the World Famous Stonehenge, just on a slightly smaller scale.</string>
		<key>latitude</key>
		<real>53.271766</real>
		<key>longitude</key>
		<real>-3.04848</real>
		<key>imageLink</key>
		<string>woodhenge2.IMG_20190226_162207.jpg</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>The Spinney</string>
		<key>description</key>
		<string>A gorgeous, mystical looking wooded area on the western side of the Botanic Garden. </string>
		<key>latitude</key>
		<real>53.270273</real>
		<key>longitude</key>
		<real>-3.046066</real>
		<key>imageLink</key>
		<string>spinney3.DSC_2578.JPG</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>name</key>
		<string>Wildflower Meadow</string>
		<key>description</key>
		<string>Overlooking the fantastic views of the Wirral&apos;s coast, this wildflower meadow is perfect for a picnic and to integrate with the outdoor surroundings.</string>
		<key>latitude</key>
		<real>53.270308</real>
		<key>longitude</key>
		<real>-3.048212</real>
		<key>imageLink</key>
		<string>wildflowermeadow3.IMG_20190213_165259.jpg</string>
	</dict>
</array>
</plist>
